@{
    ViewData["Title"] = "RegisterURLs";
}
<div class="align-center">
    <h1 class="display-6">Register URLs</h1>
    <div class="card card-body mb-5">
        <button id="register" class="btn btn-primary">
            Register URL
        </button>
    </div>
    <div id="feedback" class="card card-body">
        FeedBack
    </div>
</div>
